/* Code to make input and output line up side by side */

#menu {
    width: calc(100% - 3px);
    min-height: 5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#wrapper {
    width: 100%;
    height: calc(100vh - 7em);
    position: relative;
}

.panel {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    padding: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.panel-left {
    left: 0;
}

.panel-right {
    right: 0;
}

#input {
    margin-top: 0px;
    margin-bottom: 2px;
    width: 100%;
}

#output {
    min-width: 100%;
    border-style: solid;
    overflow-y: auto;
}

#input, #output {
    height: 100%;
    padding: 4px;
    border-color: #ccc;
    border-radius: 3px;
    background-color: white;
    border-width: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

fieldset {
    margin-right: -8px;
    padding-right: 0px;
}

.controlgroup .control {
    border: none;
    border-radius: 3px;
    background-color: #f1f1f1;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
#template-button {
    border: none;
    background-color: white;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.controlgroup .control:hover, #template-button:hover {
    background-color: #fafafa;
}


body {
    font-family: Trebuchet MS, sans-serif;
    background-color: #f1f1f1;
}

fieldset > legend {
    font-weight: bold;
    font-size: 24px;
}

#output {
    font-family: Verdana, sans-serif;
}

@media screen and (max-width: 852px) {
    .panel {
        position: relative;
        display: block;
        width: 100%;
    }

    .panel-right {
        height: 100vh;
    }

    .controlgroup {
        display: flex;
        padding-right: 0.5em;
    }

    .controlgroup .control {
        flex-grow: 1;
    }

    .optionalContent {
        display: none;
    }
}
