/* Code to make input and output line up side by side */

#wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 300px;
    max-height: 100%;
}

.panel {
    flex-grow: 1;
    flex-basis: 45%;

    padding: 2px;
/*    width: 50%;
    height: 100%;*/
}

#input {
    margin-top: 0px;
    margin-bottom: 2px;
    border-width: 1px;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#output {
    min-width: 100%;
    border-width: 1px;
    border-style: solid;
}

#input, #output {
    padding: 4px;
}

/* Set border colors */
#input, #output {
    border-color: #ccc;
    border-radius: 1px;
}

/* Arrange controlgroup */
fieldset {
    margin-right: -8px;
    padding-right: 0px;
}

/* Fonts */

body {
    font-family: Trebuchet MS, sans-serif;
}

fieldset > legend {
    font-weight: bold;
    font-size: 24px;
}

#output {
    font-family: Verdana, sans-serif;
}